/* src/components/Sidebar/Sidebar.module.css */

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  }
  
  .logo {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: #6c2bd9;
  }
  
  .searchBox {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    outline: none;
    font-size: 14px;
  }
  
  .sectionTitle {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
    color: #9ca3af;
    text-transform: uppercase;
  }
  
  .menuItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    /* transition: background-color 0.2s; */
    color: #374151;
    position: relative;
  }
  
  .menuItem:hover {
    background-color: #f3f4f6;
  }
  

  .active {
    position: relative;
    border-left: 4px solid #6c2bd9; /* Purple bar */
    background-color: transparent;  /* No filled background */
    color: #6c2bd9;
    font-weight: 600;
    left:0;
    border-radius: 0;
  }
  
  
  .icon {
    width: 16px;
    height: 16px;
  }

  .activeBar {
    /* position: absolute;
    left: 0;
    top: 0;
    bottom: 0; */
    width: 6px;
    height: 100%;
    background-color: #6c2bd9;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  